html, body {
    font: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0
}

#page-container {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

header img {
    height: 60px; 
    width: 60px; 
}

#content img {
    height: 500px;
    width: 500px;
}

#login-link{
    margin-right: 1%;
}

body {
    scroll-behavior: smooth;
}

footer img {
    height: 20px; 
    width: 22px;
}

header {
    background-color: rosybrown;
    position: sticky;
    top: 0%;
    z-index: 10;
}

nav{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: rosybrown;
    position: sticky;
    bottom:0%;
    z-index: 10;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

#copyright-text{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 11px;
}

#contact-us-link{
    text-decoration: none;
    color: black;
}

#login-link{
    text-decoration: none;
    color: black;
}

#content img {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

#booking-form {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;
}

#hotel-details {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
}