html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0
}

#page-container {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

header img {
    height: 60px; 
    width: 60px; 
}

#content img {
    height: 500px;
    width: 500px;
}

footer img {
    height: 20px; 
    width: 22px;
}

header {
    background-color: rosybrown;
}

footer {
    background-color: rosybrown;
}

#content img {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

#booking-form {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;
}

#hotel-details {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
}