html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0
}

#page-container {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

header img {
    height: 60px; 
    width: 60px; 
}

#content img {
    height: 150px; 
    width: 150px;
}

footer img {
    height: 20px; 
    width: 22px;
}

header {
    background-color: rosybrown;
}

footer {
    background-color: rosybrown;
}

#city-search-form {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 380px;
    background-position: center;
}

#city-cards {
    margin-left: 15%;
    margin-right: 15%;
    padding: 4%;
    display: flex;
    justify-content: space-around;
}

#city-cards img {
    border-radius: 25%;
}
