html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

#page-container {
    height: 100%;
    width: 100%;
}

header img {
    height: 60px; 
    width: 60px; 
}

body {
    scroll-behavior: smooth;
}

#list-view img {
    height: 200px;
    width: 250px;
}

footer img {
    height: 20px; 
    width: 22px;
}