html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0
}

#page-container {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

header img {
    height: 60px; 
    width: 60px; 
}

body {
    scroll-behavior: smooth;
}

#list-view img {
    height: 200px;
    width: 250px;
}

footer img {
    height: 20px; 
    width: 22px;
}

header {
    background-color: rosybrown;
}

footer {
    background-color: rosybrown;
}

#list-view {
    margin: 2%;
}

#radisson {
    background-color: rgb(132,136,139);
    width: 40%;
}

#lalit {
    background-color: rgb(132,136,139);
    width: 40%;
}

#taj {
    background-color: rgb(132,136,139);
    width: 40%;
}
